NEXT_PUBLIC_API_BASE_URL=http://localhost:5000/api
NEXTAUTH_SECRET=geBhbWuRjgGzfM/+4cpf/NZdGTTLx5i64H3Ack1hRs8=
AUTH_ADMIN_EMAIL=admin@evopulse.com
AUTH_ADMIN_PASSWORD=ChangeThisStrongPassword
AUTH_ADMIN_NAME=EvoPulse Admin
NEXT_PUBLIC_IMAGEBB_API_KEY=a80baccd65899fed201b10ad2aa4154e
